<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/send-result.css" />
    <title>sinalab</title>
</head>
<body>
    <p><%=success%></p>
    <p><%=error%></p>
    <%- include('partials/nav.ejs') %>
    <div class="send-result-con">
        <h2>welcome to send result</h2>
    <form action="/send-result" id="send-result-form" method="POST" enctype="multipart/form-data">
        <input type="file" id="my-files" name="result">
        <label for="username">send to</label>
        <input type="text" id="username" name="username">
        <label for="title">title</label>
        <input type="text" id="title" name="title">
        <button>envoyer</button>
    </form>
    </div>
    <a href="/sign-in">sign in</a>  
    <a href="/register">register</a>
    <a href="/logout">Logout</a>
    

   
    
</body>
</html>