<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
   
    <link rel="stylesheet" href="style.css" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" />
    <title>SinaLab</title>
  </head>
 
  <body>
    
   
   
    <div class="container">
        
        <p style="text-align: center; color: green; font-size: 13px; z-index: 1111; position: absolute;top: 10px;"><%=success%></p>
    <p style="text-align: center; color: red; font-size: 13px; z-index: 1111; position: absolute;top: 10px;"><%=error%></p>
   
      <input type="checkbox" id="flip" />
      <div class="cover">
        <div class="front">
        </div>
        <div class="back">
          <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
          <div class="text">
            <span class="text-1"
              >Complete miles of journey <br />
              with one step</span
            >
            <span class="text-2">Let's get started</span>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
            <form action="/sign-in" method="POST">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input type="text" name="username" placeholder="Enter your username" required />
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
                    required
                  />
                </div>
                
                <div class="button input-box">
                  <input type="submit" value="Sumbit" />
                </div>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
