@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.reservation-receive-section{
    position: relative;
    display: flex;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
    flex-direction: column;
    box-sizing: border-box;
}
.reservation-receive-section>h2{
    padding: 60px 0 30px 40px;
    color: #740606;
    text-transform: capitalize;
}
.reservation-demande-con{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin-left: 25px;
}
.reservation-demande-item{
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 2px solid #740606;
    border-radius: 4px;
    
    width: fit-content;
    height: fit-content;
}
.reservation-demande-item-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.reservation-demande-item div h3{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    padding: 3px;
}
.reservation-demande-item div  span{
    color: #740606;
    font-weight: 600;
    text-transform: capitalize;

}
.reservation-demande-item div p{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;

}
